@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #23252c;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: Open Sans, Inter, Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

.container {
    background-color: #1a1b21;
    width: 95vw;
    height: 90vh;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

.profile-pic {
    background-image: url('https://raw.githubusercontent.com/eternalGatherings/personal-db/refs/heads/main/images/Sachi-1.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-details {
    width: 65%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    display: flex;
    flex-direction: column;
}

.profile-details::-webkit-scrollbar {
    width: 5px;
}

.profile-details::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

.content-scroll {
    flex: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 30px;
    scroll-behavior: smooth;
    height: 500px;
}

.footer {
    /* background-color: #161619; */
    background: linear-gradient(to left, rgb(22, 22, 25) 90%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    border-bottom-right-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 8%;
}

.footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer svg {
    height: 60%;
}


/* Right section */

.name-designation {
    width: 100%;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto 0;
}

.about-other {
    width: 75%;
    color: #fff;
    
    margin: auto 0;
    line-height: 1.5;
    margin-top: 60px;
}

.name, .designation, .website {
    display: block;
}

.name {
    font-size: 90px;
    font-weight: 700;
    margin-top: 80px;
}

.designation {
    color: #feb561;
    font-size: 18px;
}

.website {
    color: #fff;
    font-size: 18px;
    margin-top: 40px;
    text-decoration: none;
}

.buttons {
    width: 60%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.buttons a {
    text-decoration: none;
    color: inherit;
}

.buttons button {
    font-size: 18px;
    width: 30%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px;
}

.email-button {
    padding: 0 65px;
    background-color: #fff;
    color: #000;
}

.linkedin-button {
    padding: 0 55px;
    background-color: #5093E2;
    color: #fff;
}

.buttons button img {
    width: 20px;
}

.about .header {
    font-size: 30px;
    font-weight: 700;
}

.about .paragraph {
    font-size: 15px;
    font-weight: 100;
    text-align: justify;
}

/* SECTION TITLE */

.section-title {
    color: #fff;
    font-size: 28px;
    margin-bottom: 15px;
}

/* TIMELINE */

.timeline-section {
    width: 75%;
    color: white;
    margin-top: 60px;
}

.timeline {
    border-left: 2px solid #feb561;
    padding-left: 20px;
}

.timeline-item {
    margin-bottom: 20px;
}

.timeline-year {
    font-weight: bold;
    color: #feb561;
}

.timeline-content h3 {
    margin: 5px 0;
    font-size: 18px;
}

.timeline-content p {
    font-size: 14px;
    color: #ccc;
}

/* TOOLS SECTION */

.tools-section {
    width: 75%;
    margin: 60px 0;
    color: white;
}

.tools-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.tool-card {
    /* flex: 1; */
    background: #23252c;
    padding: 15px;
    border-radius: 10px;
}

.tool-card h3 {
    margin-bottom: 10px;
    color: #feb561;
}

.tool-card ul {
    list-style: none;
}

.tool-card li {
    font-size: 14px;
    margin-bottom: 5px;
}

@media (min-width: 300px) and (max-width: 700px) {
    body {
        height: 95vh;
        align-items: start;
        padding-top: 20px;
        overflow: hidden;
    }

    .container {
        width: 92vw;
        height: 88vh;
        flex-direction: column;
        overflow-y: auto;
        align-items: center;
    }

    .profile-pic {
        background-image: url('https://raw.githubusercontent.com/eternalGatherings/personal-db/refs/heads/main/images/Sachi-1.png');
        background-size: cover;
        width: 72%;
        min-height: 530px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;


        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

        /* fade bottom */
        -webkit-mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    }

    .profile-details {
        height: 100%;
        width: 100%;
        justify-content: flex-start;
    }

    .name {
        font-size: 42px;
        margin-top: 0px;
    }

    .name-designation {
        padding: 10px 0;
    }

    .designation {
        font-size: 12px;
    }

    .website {
        font-size: 12px;
        margin-top: 20px;
    }

    .buttons {
        margin-top: 15px;
        width: 78%;
    }

    .buttons button {
        font-size: 13px;
        height: 35px;
        justify-content: space-between;
        width: 42%;
    }

    .email-button {
        padding: 0 25px;
    }

    .linkedin-button {
        padding: 0 18px;
    }

    .about-other {
        width: 85%;
        padding: 10px 0;
    }
    .about .header {
        /* font-size: 20px; */
        margin-top: 0px;
    }

    .about .paragraph {
        font-size: 12px;
        font-weight: 100;
    }

    .footer {
        position: sticky;
        bottom: 0;
        background: #161619;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 12px 0;
    }

    .footer svg {
        width: 28px;
        height: 28px;
        position: sticky;
        bottom: 0;
    }

    .content-scroll {
        flex: none;
        overflow: visible;
        height: auto;
    }

    .timeline-section {
        width: 85%;
    }

    .tools-section {
        width: 85%;
    }

    .tools-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    /* Development */
    .tool-card:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    /* Testing */
    .tool-card:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    /* API Testing */
    .tool-card:nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }

    .tool-card {
        min-width: 100px;
    }

    .tool-card h3 {
        font-size: 15px;
    }

    .tool-card li {
        font-size: 12px;
    }

    .timeline-section .timeline-content h3 {
        font-size: 15px;
    }

    .timeline-section .timeline-content p {
        font-size: 12px;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    body {
        height: 91vh;
    }

    .container {
        height: 90vh;
        width: 90vw;
        align-items: flex-end;
        /* flex-direction: column; */
    }

    .profile-pic {
        background-image: url('https://raw.githubusercontent.com/eternalGatherings/personal-db/refs/heads/main/images/Sachi-1.png');
        background-size: cover;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: bottom;
        align-items: bottom;

        
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .profile-details {
        width: 100%;
    }

    .name {
        margin-top: 60px;
        font-size: 50px;
    }

    .name-designation {
        padding: 20px 0;
    }

    .designation {
        font-size: 12px;
    }

    .website {
        font-size: 15px;
        margin-top: 10px;
    }

    .buttons {
        margin-top: 22px;
        width: 80%;
    }

    .buttons button {
        font-size: 10px;
        height: 35px;
        justify-content: space-between;
        width: 40%;
    }

    .email-button {
        padding: 0 24px;
    }

    .linkedin-button {
        padding: 0 18px;
    }

    .about-other {
        width: 85%;
        padding: 10px 0;
    }
    .about .header {
        font-size: 25px;
    }

    .about .paragraph {
        font-size: 10px;
        font-weight: 200;
    }

    .footer {
        display: flex;
        height: 6%;
    }
}

@media (min-width: 901px) and (max-width: 1080px) {
    body {
        height: 91vh;
    }

    .container {
        height: 90vh;
        width: 90vw;
        align-items: flex-end;
        /* flex-direction: column; */
    }

    .profile-pic {
        background-image: url('https://raw.githubusercontent.com/eternalGatherings/personal-db/refs/heads/main/images/Sachi-1.png');
        background-size: cover;
        width: 80%;
        height: 98%;
        flex-direction: column;
        justify-content: bottom;
        align-items: bottom;

        
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .profile-details {
        width: 100%;
    }

    .name {
        margin-top: 60px;
        font-size: 75px;
    }

    .name-designation {
        padding: 20px 0;
    }

    .designation {
        font-size: 15px;
    }

    .website {
        font-size: 18px;
        margin-top: 10px;
    }

    .buttons {
        margin-top: 22px;
        width: 60%;
    }

    .buttons button {
        font-size: 12px;
        height: 35px;
        justify-content: space-between;
        width: 40%;
    }

    .email-button {
        padding: 0 30px;
    }

    .linkedin-button {
        padding: 0 22px;
    }

    .about-other {
        width: 85%;
        padding: 10px 0;
    }
    .about .header {
        font-size: 25px;
    }

    .about .paragraph {
        font-size: 12px;
        font-weight: 200;
    }

    .footer {
        display: flex;
        height: 6%;
    }
}